/* Error: Undefined variable.
 *    ,
 * 21 |     color: $color-font--base;
 *    |            ^^^^^^^^^^^^^^^^^
 *    '
 *   scss\components\_typography.scss 21:12  @import
 *   scss\components\_index.scss 12:9        @import
 *   scss\styles.scss 13:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 21 \2502      color: $color-font--base;\d\a    \2502             ^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\components\\_typography.scss 21:12  @import\a   scss\\components\\_index.scss 12:9        @import\a   scss\\styles.scss 13:9                   root stylesheet";
}
