/* Import of _variables.scss */


//==========================================================
//      Color Variables
//==========================================================

// Descriptive Color Palatte Variables
$viking-green   : #58e1c1;
$malibu-blue    : #54defc;
$grey           : #797e83;
$white          : #fff;

// Functional Color Palatte Variables

$color-primary      : $viking-green;
$color-secondary    : $malibu-blue;
$color-font--base   : $grey;
$color-font--btn    : $white;

// Theme Color Variable Map

$theme-colors: (
     'default': $malibu-blue,
     'success': #63cc82,
       'error': #e4757a,
     'warning': #fd7856,
        'info': #927bc1,
 'grid_col--3': #deb2ee,
 'grid_col--4': #7ee6fd,
 'grid_col--5': #88d9a0,
 'grid_col--6': #3fabca,
 'grid_col--7': #ec9fa3,
 'grid_col--8': #fd9f85,
'grid_col--12': #80e8d1,
);

//==========================================================
//      Font Stacks Variables
//==========================================================

// Font Weights

$font-weight--thin      : 100;
$font-weight--light     : 300;
$font-weight--medium    : 400;
$font-weight--bold      : 700;
$font-weight--ultrabold : 900;

// Font size

$font-size--base       : 16px;
$font-size--headline   : px-to-em(28px);
$font-size--blockquote : px-to-em(22px);
$font-size--input      : px-to-em(14px);

// Font Stack Variables

$font-url--google     : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-stack--primary  : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Style Variables

$font-style--italic: italic;

// Line Height Variables

$font-lh--base   : 1.5em;

//Text Indent Variables

$font-indent   : 10px;



//==========================================================
//      Media Query & Breakpoint Variables
//==========================================================

// Breakpoints

$break-desktop    : 768px;

//==========================================================
//      Layout Variables
//==========================================================

//Width Variables

$width-btn        : 410px;
$width-blockquote : 70%;
$width-headline   : 85%;
$width-navit   : 420px;
$width-input      : 400px;

//Margin Variables

$margin-btn: 10px 5px;
$margin-blockquote: 20px 0 50px 20px;
$margin-headline: 20px 0 20px 20px;
$margin-img: 20px auto 30px auto;
$margin-input: 10px;

//Padding Variables

$padding-btn: 15px 0;
$padding-img: 15px;
$padding-blockquote: 0 20px;
$padding-input: 0 0 10px 0;

//==========================================================
//      Border Variables
//==========================================================

//Border Width Variables
$bdr-width--blockquote: 10px;
$bdr-width--img: 1px;
$bdr-width--input: 5px;

//Border Syle Variables
$bdr-style--blockquote: solid;
$bdr-style--img: solid;
$bdr-style--blockquote: solid;
$bdr-style--input: solid;

//Border Radius Variables
$br-blockquote: 4px;
$br-btn: 5px;

//Border Color Variables
$bdr-color--img: $color-font-base;
$bdr-color--blockquote: $color-primary;