/* Import of _grids.scss */

// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************


// grid base class
.grid {
  
  // .grid__row
  &__row {
    padding: 1em 10px;
    @include flex($direction: column);

    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq(desktop) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  // .grid__col
  &__col {
    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns 
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        @extend %grid__col;

        // NOTE: replace with media query mixin if aiming for exceeds
        @include mq(desktop) {

          // base stlyes applied to all grid columns
          

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq(desktop) {

      // add grid gutter
      margin-left: $width-gutter;
    }
  }
}

.container {
  padding-left: px-to-pc(40px);
  padding-right: px-to-pc(40px);
  max-width: $break-maximum;
  @include mq(maximum) {
    margin-right: auto;
    margin-left: auto;
  }
}

.centered {
  @include mq(desktop) {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.theme__colors{
  &.grid__col  {
    @each $color in $grid-colors {
      $i: index($grid-colors, $color); 
      &--#{$i} {
        background-color: $color;
        font-weight: $font-weight--bold;
      }
    }
  }
}

/*(.grid__col--1, .grid__col--2, .grid__col--10, and .grid__col--11 are not used here in the HTML but would be good to include in the Sass) */