/* Import of _images.scss */

.img--logo {
    @extend %image;
    @include mq(desktop) {
        margin-left: 0;
        margin-right: 0;
    }
}


.img--frame {
    @extend %image;
    border: $bdr-width--img $bdr-style--img $bdr-color--img;
}



.img--avatar {
    @extend %image;
}