/* Import of _navigation.scss */

.nav {
    margin-bottom: 30px;
    @include mq(desktop) {
        @include flex($justify: flex-end);
        margin-top: 20px;
    }
}

.nav__item {
    @extend %flex-row;
    &:last-of-type  {
        @include mq(desktop) {
            margin-right: 50px;
        }
    }
    & a {
        @include nav-item;
        @include mq(desktop) {
            width: 100px;
        }
        &:hover {
            @include nav-item-hover;
        }
    }

}