/* Import of _navigation.scss */

.nav {
    margin-bottom: 30px;
    @include flex($direction: column, $wrap: nowrap);
    @include mq(desktop) {
        @include flex($wrap: nowrap, $justify: center);
        margin-top: px-to-pc(20px); 
    }
}

.nav__item {
    @include flex();
    &:first-of-type {
        @include mq(desktop){
            margin-right: 25px;
        }
    };
    & a {
        @extend %nav-item;
        @include mq(desktop) {
            width: 90px;
        }
        &:hover {
            @extend %nav-item-hover;
        }
    }
}