
/* Import of _typography.scss */

//==========================================================
//      Loading Font-face
//==========================================================

@if variable-exists(font-url--google) {
    @import url($font-url--google);
}

//==========================================================
//      Typography Styles
//==========================================================


//Typography Styles

.container {        
    font-family: $font-stack--primary;
    color: $color-font--base;
}

.link {
    font-weight: $font-weight--bold;
    color: $color-secondary;
}

.blockquote {
    font-style: italic;
    font-size: $font-size--blockquote;
    border-left: $bdr-width--blockquote $bdr-style--blockquote $bdr-color--blockquote;
    border-radius: $br-btn;
    padding: $padding-blockquote;
    max-width: $width-blockquote;
    margin: $margin-blockquote;
}

.headline--primary {
    font-size: $font-size--headline;
    color: $color-primary;
    margin: $margin-headline;
    max-width: $width-headline;
}
.headline--secondary {
    font-weight: $font-weight--light;
    text-indent: $font-indent;
}

